Repository snmcCode/covidTracking, pull requests merged in 2021-05, with the labels that each got.

#656 Updated override time
  Scanner/Android/app/build.gradle
  Scanner/Android/app/src/main/java/ca/snmc/scanner/screens/scanner/ScannerFragment.kt
Labels: scanner

#660 Adding queue logic and retry mechanism to LogVisit
  BackEnd/BackEnd.csproj
  BackEnd/LogVisit.cs
  BackEnd/LogVisitWorker.cs
  MasjidTracker.sln
  common/Utilities/DatabaseManager.cs
  common/Utilities/QueueControler.cs
  common/common.csproj
Labels: Performance, backend, testing

#665 [Admin] Fix visitor search
  Admin/Pages/Home/Login.cshtml.cs
Labels: admin
